/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	line-height: 1.25;
}

h1 {
	font-size: 52px;
	padding-right: 440px;
}

h2 {
	font-size: 36px;
	color: #3e606b;
}

h3 {
	font-size: 18px;
	color: #3e606b;
}

.hlavicka {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1100px;
	margin-left: auto; 
	margin-right: auto;
}

.logo {
	width: 170px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.odkaz_menu {
	text-decoration: none;
	color: #242424;
	border-radius: 20px;
	padding: 10px 15px;
}

.odkaz_menu:hover {
	color: white;
	background-color: #f195b2;
	border-radius: 20px;
	padding: 10px 15px;
}

.blok_menu {
	display: inline-block;
}

.banner {
	background-image: url(images/cupcake.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}

.sekce {
	padding-top: 80px;
	padding-bottom: 80px;
}

.banner_text {
	padding-right: 440px;
	font-size: 24px;
	font-style: italic;
}

.obsah {
	max-width: 1100px;
	margin-left: auto; 
	margin-right: auto;
}

.vitejte {
	display: flex;
}

.tlacitko {
	text-decoration: none;
	color: white;
	border-radius: 30px;
	padding: 15px 40px;
	background-color: #f195b2;
}

.tlacitko:hover {
	text-decoration: none;
	color: white;
	border-radius: 30px;
	padding: 15px 40px;
	background-color: #d2567d;
}

.vitejte_levy {
	padding-right: 30px;
}

.nabidka {
	background-color: #f0f0f0;
}

.produkty {
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
}

.karticka,
.karticka2 {
	flex-basis: 25%;
	border-radius: 5px;
	background-color: white;
}

.popis_dortu {
	padding: 20px;
	text-align: center;
}

.dort {
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.karticka {
	margin-right: 30px;
}

img {
	border-radius: 5px;
}

.peceni {
	display: flex;
}

.peceni_pravy {
	margin-left: 30px;
}

.paticka {
	background-color: #303339;
	margin-left: auto; 
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	text-align: center;
}